/* Bounce In */
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
    
/* BUTTON OVERRIDE */

button,  .buttonblue {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: #00b6bd;
  border-radius: 3px;
  min-height: 40px;
  padding: 8px 20px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none; }
  button i,
  .button i {
    position: relative;
    top: 1px;
    margin: 0 2px; }
